/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
 html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  /**
   * Remove the margin in all browsers.
   */
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  /**
   * Remove the gray background on active links in IE 10.
   */
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  /**
   * Remove the border on images inside links in IE 10.
   */
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  button,
  input {
    /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  button::-moz-focus-inner,
  [type=button]::-moz-focus-inner,
  [type=reset]::-moz-focus-inner,
  [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  button:-moz-focusring,
  [type=button]:-moz-focusring,
  [type=reset]:-moz-focusring,
  [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  [type=checkbox],
  [type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  [type=number]::-webkit-inner-spin-button,
  [type=number]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  [type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  /**
   * Add the correct display in IE 10+.
   */
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  [hidden] {
    display: none;
  }
  
  @font-face {
    font-family: "SF Pro Display Bold";
    src: url("assets/fonts/SF-Pro-Display-Bold.otf");
  }
  @font-face {
    font-family: "SF Pro Display";
    src: url("assets/fonts/SF-Pro-Display-Heavy.otf");
  }
  @font-face {
    font-family: "SF Pro Display Light";
    src: url("assets/fonts/SF-Pro-Display-Light.otf");
  }
  * {
    box-sizing: border-box;
    font-family: "SF Pro Display";
  }
  
  body {
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: unset;
    color: white;
    background-color: #090A0C;
  }
  body.dashboard {
    background-color: #f6f7f9;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  p {
    margin: unset;
    margin-bottom: 2rem;
  }
  
  button, input, select, textarea {
    appearance: none;
    -webkit-appearance: none;
    border: unset;
    background-color: transparent;
    margin: unset;
    padding: unset;
  }
  
  input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
  }
  
  .section {
    width: 100%;
    max-width: 100vw;
    position: relative;
  }
  
  .container {
    max-width: 1440px;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 135px;
  }
  
  .cursor, button, a {
    cursor: pointer;
    user-select: none;
  }
  
  .no-margin {
    margin: unset;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .section {
    width: 100%;
    min-width: 1440px;
    max-width: 100vw;
    position: relative;
    z-index: 1;
  }
  
  .container {
    max-width: 1440px;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 135px;
  }
  
  .header {
    background-image: url('assets/ornament-h-nbls.svg');
    background-repeat: no-repeat;
    background-position: top;
  }
  .header .container {
    padding: 160px 0;
  }




  .news__paragraf{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  .trending__container__card .card__wrapp__container-list-image,
  .recomendation__container__card .card__wrapp__container-list-image{
    width: 80px;
    height: 80px;
    border-radius: 16px;
    object-fit: cover;
  }
  .content__head__img{
    max-width: 1200px;
    width: 100%;
    height: 589px;
    border-radius: 24px;
    object-fit: cover;
  }



  @media all and (max-width: 568px) {
    .header .container {
      padding: 100px;
    }
  }
  .header .container .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .container .display__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    text-align: center;
    color: #FFFFFF;
  }
  @media all and (max-width: 568px) {
    .header .container .display__tittle {
      font-size: 50px;
      line-height: 60px;
    }
  }
  .header .container .display__paragraf {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
  .header .container .display__btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  @media all and (max-width: 568px) {
    .header .container .display__btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .header .container .display__btn-container button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);
    border-radius: 100px;
    padding: 22px 40px;
    margin-right: 24px;
  }
  @media all and (max-width: 568px) {
    .header .container .display__btn-container button {
      margin-top: 24px;
    }
  }
  .header .container .display__btn-container button:last-child {
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    background: transparent;
  }
  .header .container .display__btn-container button span {
    color: #fff;
    margin-right: 12px;
  }
  .header .container .display__powered {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 40px;
  }
  .header .container .display__powered-tittle {
    margin-right: 12px;
  }
  
  .navbar {
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navbar--dashboard {
    background-color: transparant;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar--dashboard .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 30px;
  }
  @media all and (max-width: 568px) {
    .navbar--dashboard .container {
      background: #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .navbar__logo--dashboard {
    width: 74px;
    display: block;
    margin-right: 60px;
  }
  .navbar__logo--dashboard img {
    width: 100%;
    object-fit: contain;
  }
  @media all and (max-width: 568px) {
    .navbar__logo--dashboard img {
      width: 50%;
    }
  }
  .navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  @media all and (max-width: 568px) {
    .navbar__container {
      display: none;
      flex-direction: column;
      justify-content: start;
      align-content: center;
      background: #000;
      position: absolute;
      left: 0;
      top: 70px;
      padding: 30px;
      width: 100%;
    }
  }
  .navbar__container__menu--dashboard {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  @media all and (max-width: 568px) {
    .navbar__container__menu--dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .navbar__container__menu--dashboard .menu-item {
    margin-right: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #fff;
    transition: all 100ms ease;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: unset;
  }
  @media all and (max-width: 568px) {
    .navbar__container__menu--dashboard .menu-item {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }
  .navbar__container__menu--dashboard .menu-item:last-child {
    margin-right: unset;
  }
  .navbar__container__menu--dashboard .menu-item:hover {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #8E2DE2;
  }
  .navbar__container__menu--dashboard .menu-item__img {
    margin-right: 10px;
    filter: saturate(0);
  }
  .navbar__container__menu--dashboard .menu-item.active .menu-item__img, .navbar__container__menu--dashboard .menu-item:hover .menu-item__img {
    filter: saturate(1);
  }
  .navbar__container__menu--dashboard .menu-item.active::after, .navbar__container__menu--dashboard .menu-item:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    top: calc(100% + 15px);
    background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);
  }
  .navbar__container__right-btn--dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media all and (max-width: 568px) {
    .navbar__container__right-btn--dashboard {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .navbar__container__right-btn--dashboard .nav-right-btn {
    margin-left: 20px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media all and (max-width: 568px) {
    .navbar__container__right-btn--dashboard .nav-right-btn {
      margin-left: 0;
    }
  }
  .navbar__container__right-btn--dashboard .border {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 14px 15px;
  }
  @media all and (max-width: 568px) {
    .navbar__container__right-btn--dashboard .border {
      margin: 10px 0;
    }
  }
  .navbar__container__right-btn--dashboard .border img {
    margin-right: 10px;
  }
  .navbar__container__right-btn--dashboard .nav-right-stat {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: black;
    border: 1px solid #C9D3DE;
    border-radius: 100px;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar__container__right-btn--dashboard .nav-right-stat span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
    background: #49C34E;
    border-radius: 100px;
    padding: 2px 10px;
    margin-left: 10px;
  }
  .navbar__container__right-btn--dashboard .dropdown {
    position: relative;
    cursor: pointer;
  }
  .navbar__container__right-btn--dashboard .dropdown__menu {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 231px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(60px);
    border-radius: 24px;
    padding: 24px 20px;
    top: 80px;
    left: -100px;
  }
  @media all and (max-width: 568px) {
    .navbar__container__right-btn--dashboard .dropdown__menu {
      left: -40px;
    }
  }
  .navbar__container__right-btn--dashboard .dropdown__menu__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
  }
  .navbar__container__right-btn--dashboard .dropdown__menu__items__head {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbar__container__right-btn--dashboard .dropdown__menu__items__head span {
    margin-left: 10px;
  }
  .navbar__mobile img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
  }
  @media all and (max-width: 568px) {
    .navbar__mobile img {
      display: block;
    }
  }
  
  .active {
    height: 98px;
    background: #000;
    top: -20px;
  }
  
  .show {
    display: flex;
  }
  
  .on {
    display: flex !important;
  }
  
  .platform {
    padding-top: 200px;
    background-image: url("assets/ornament-bg.svg"), url("assets/PLATFORM.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0px, 100px;
    background-position-y: -300px, 200px;
  }
  @media all and (max-width: 568px) {
    .platform {
      padding-top: 100px;
    }
  }
  .platform .container {
    padding: 0 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .platform .container {
      padding: 0 20px;
    }
  }
  .platform .container .platform__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  .platform .container .platform__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  @media all and (max-width: 568px) {
    .platform .container .platform__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .platform .container .platform__card-items {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    width: 410px;
    height: 520px;
  }
  @media all and (max-width: 568px) {
    .platform .container .platform__card-items {
      margin-top: 40px;
      width: auto;
      height: auto;
    }
  }
  .platform .container .platform__card-items-tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 28px 0 16px 0;
  }
  .platform .container .platform__card-items-content {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
  }
  .platform .container .bg-video {
    position: absolute;
    z-index: -1;
    left: -160px;
    width: 800px;
    height: 800px;
  }
  @media all and (max-width: 568px) {
    .platform .container .bg-video {
      left: 0px;
      width: 200px;
      height: 200px;
    }
  }
  
  .gap {
    margin-left: 21px;
    margin-right: 21px;
  }
  
  .footer {
    padding-top: 80px;
    background-image: url("assets/ornament-bg.svg"), url("assets/ornament-bg.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -500px, 700px;
    background-position-y: -300px, 0px;
  }
  @media all and (max-width: 568px) {
    .footer .container {
      padding: 0 20px;
      max-width: 500px;
      width: 100%;
    }
  }
  .footer .container .footer__logo {
    margin-bottom: -10px;
  }
  .footer .container .footer__content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  @media all and (max-width: 568px) {
    .footer .container .footer__content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
  }
  .footer .container .footer__content-address {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
  }
  .footer .container .footer__content-address span {
    font-family: "SF Pro Display Light";
  }
  .footer .container .footer__content-contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
  }
  @media all and (max-width: 568px) {
    .footer .container .footer__content-contact {
      margin-top: 30px;
    }
  }
  .footer .container .footer__content-contact .contact {
    font-family: "SF Pro Display";
  }
  .footer .container .footer__content-contact span {
    font-family: "SF Pro Display Light";
  }
  .footer .container .footer__content-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
  }
  @media all and (max-width: 568px) {
    .footer .container .footer__content-menu {
      margin-top: 30px;
    }
  }
  .footer .container .footer__content-menu a {
    font-family: "SF Pro Display Light";
  }
  .footer .container .footer__content-findus {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
  }
  @media all and (max-width: 568px) {
    .footer .container .footer__content-findus {
      margin-top: 30px;
    }
  }
  .footer .container .footer__content-findus a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer .container .footer__content-findus a img {
    width: 32px;
    height: 32px;
  }
  .footer .container .footer__content-findus a span {
    color: #fff;
    margin-left: 12px;
    font-family: "SF Pro Display Light";
  }
  .footer .container .footer__copyright {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .container .footer__copyright::before {
    content: "";
    height: 1px;
    width: 100%;
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  }
  .footer .container .footer__copyright span {
    font-family: "SF Pro Display Light";
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .partner {
    padding-top: 100px;
    background-image: url("assets/PARTNERS.svg");
    background-repeat: no-repeat;
    background-position: 0px;
    background-position-y: 280px;
    background-position-x: 150px;
  }
  .partner .container {
    margin: 80px auto 80px auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media all and (max-width: 568px) {
    .partner .container {
      padding: 0 20px;
      max-width: 500px;
      width: 100%;
    }
  }
  .partner .container .partner {
    width: 100%;
  }
  .partner .container .partner__tittle {
    margin-bottom: 28px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  @media all and (max-width: 568px) {
    .partner .container .partner__tittle {
      font-size: 50px;
      line-height: 110%;
    }
  }
  .partner .container .partner__sponsore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media all and (max-width: 568px) {
    .partner .container .partner__sponsore {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .partner .container .partner__sponsore img {
      margin: 12px 0 12px 0;
    }
  }
  
  .tokenomic {
    padding-top: 200px;
    background-image: url("assets/TOKENOMICS.svg");
    background-repeat: no-repeat;
    background-position: 0px;
    background-position-y: 300px;
    background-position-x: 150px;
  }
  .tokenomic .container {
    margin: 80px auto 80px auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media all and (max-width: 568px) {
    .tokenomic .container {
      padding: 0 20px;
    }
  }
  .tokenomic .container .tokenomic__tittle {
    margin-bottom: 80px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }
  @media all and (max-width: 568px) {
    .tokenomic .container .tokenomic__tittle {
      font-size: 50px;
      line-height: 110%;
    }
  }
  .tokenomic .container .tokenomic__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media all and (max-width: 568px) {
    .tokenomic .container .tokenomic__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  @media all and (max-width: 568px) {
    .tokenomic .container .tokenomic__content-img {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .tokenomic .container .tokenomic__content-img img {
      width: 80%;
    }
  }
  .tokenomic .container .tokenomic__content-tabel--inner {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding: 35px;
    width: 585px;
  }
  @media all and (max-width: 568px) {
    .tokenomic .container .tokenomic__content-tabel--inner {
      padding: 10px 5px;
      width: auto;
      margin-top: 80px;
    }
  }
  .tokenomic .container .tokenomic__content-tabel--inner tr {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }
  .tokenomic .container .tokenomic__content-tabel--inner th {
    width: 50%;
    display: flex;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
  }
  @media all and (max-width: 568px) {
    .tokenomic .container .tokenomic__content-tabel--inner th {
      font-size: 16px !important;
    }
  }
  .tokenomic .container .tokenomic__content-tabel--inner td {
    width: 50%;
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }
  .tokenomic .container .tokenomic__content-tabel--inner tr:nth-child(10) {
    border-bottom: none;
  }
  .tokenomic .container .tokenomic__content-tabel--inner th:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  .tokenomic .container .tokenomic__content-tabel--inner th:nth-child(3) {
    display: flex;
    justify-content: start;
  }
  .tokenomic .container .tokenomic__content-tabel--inner td:nth-child(2) {
    display: flex;
    justify-content: center;
  }
  .tokenomic .container .tokenomic__content-tabel--inner td:nth-child(3) {
    display: flex;
    justify-content: end;
  }
  .tokenomic .container .tokenomic__content-tabel--inner td:nth-child(1) {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .unique {
    padding-top: 100px;
    background-image: url("assets/ornament-bg.svg"), url("assets/SELLING POINT.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0px, 100px;
    background-position-y: 400px, 200px;
  }
  .unique .container {
    margin-top: 150px;
  }
  @media all and (max-width: 568px) {
    .unique .container {
      padding: 0 20px;
      margin-top: 0px;
    }
  }
  .unique .container .unique__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 102px;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__tittle {
      font-size: 50px;
      line-height: 110%;
    }
  }
  .unique .container .unique__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content {
      padding: 0 20px;
    }
  }
  .unique .container .unique__content::after {
    content: "";
    height: 1px;
    width: 100%;
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  }
  .unique .container .unique__content__item {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin: 40px 0 40px 0;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .unique .container .unique__content__item-tittle {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content__item-tittle {
      width: 100%;
    }
  }
  .unique .container .unique__content__item-tittle img {
    margin-right: 24px;
    margin-top: 12px;
  }
  .unique .container .unique__content__item-tittle span {
    color: #fff;
    font-family: "SF Pro Display Bold";
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    width: 100%;
    max-width: 415px;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content__item-tittle span {
      font-size: 24px;
      line-height: 110%;
    }
  }
  .unique .container .unique__content__item-subcontent {
    width: 50%;
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content__item-subcontent {
      margin-top: 16px;
      width: 100%;
    }
  }
  .unique .container .unique__content__item-subcontent span {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
  }
  @media all and (max-width: 568px) {
    .unique .container .unique__content__item-subcontent span {
      font-size: 16px;
      line-height: 110%;
      margin-top: 12px;
    }
  }
  
  .abstract {
    padding-top: 100px;
    background-image: url("assets/ABSTRACT.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
  }
  .abstract .container {
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 0 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .abstract .container {
      padding: 0 20px;
    }
  }
  .abstract .container .abstract__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
  }
  @media all and (max-width: 568px) {
    .abstract .container .abstract__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .abstract .container .abstract__card-items {
    padding: 32px;
    width: 584px;
  }
  @media all and (max-width: 568px) {
    .abstract .container .abstract__card-items {
      width: auto;
      padding: 10px;
    }
  }
  .abstract .container .abstract__card-items-tittle {
    font-family: "SF Pro Display Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 140%;
    color: #FFFFFF;
    margin: 24px 0 16px 0;
  }
  .abstract .container .abstract__card-items-content {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    height: 370px;
  }
  @media all and (max-width: 568px) {
    .abstract .container .abstract__card-items-content {
      height: auto;
      width: auto;
    }
  }
  .abstract .container .abstract__card-items-content span {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
  }
  .abstract .container .bg-video {
    position: absolute;
    z-index: -1;
    left: 26%;
    width: 700px;
    height: 700px;
    top: 0px;
  }
  @media all and (max-width: 568px) {
    .abstract .container .bg-video {
      left: 0px;
      width: 200px;
      height: 200px;
    }
  }
  
  .flex-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .notice {
    padding-top: 100px;
    background-image: url("assets/ornament-bg.svg"), url("assets/NOTICE.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -500px, 100px;
    background-position-y: -300px, 200px;
  }
  .notice .container {
    padding: 80px 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .notice .container {
      padding: 0 20px;
    }
  }
  .notice .container .notice__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  .notice .container .notice__tittle__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .notice .container .notice__tittle__btn img {
    margin: 8px;
    cursor: pointer;
  }
  .notice .container .notice__tittle__btn span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 30px;
    font-family: "SF Pro Display light";
  }
  .notice .container .notice__container {
    width: 100%;
    margin-top: 200px;
  }
  @media all and (max-width: 568px) {
    .notice .container .notice__container {
      margin-top: -80px;
      width: 365px;
      overflow-x: auto;
      height: 600px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  .notice .container .notice__container__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .notice .container .notice__container .card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    width: 410px;
    height: 256px;
  }
  @media all and (max-width: 568px) {
    .notice .container .notice__container .card-items {
      margin: 0 10px;
    }
  }
  .notice .container .notice__container .card-items-image {
    width: 323px;
    height: 280px;
    margin-top: -50%;
  }
  .notice .container .notice__container .card-items_media {
    width: 100%;
  }
  .notice .container .notice__container .card-items_media-tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 18px 0 16px 0;
  }
  .notice .container .notice__container .card-items_media-content {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    margin: 18px 0 16px 0;
  }
  
  .roadmap {
    padding-top: 200px;
    background-image: url("assets/ornament-bg.svg"), url("assets/ROADMAP.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0px, 100px;
    background-position-y: -300px, 200px;
  }
  @media all and (max-width: 568px) {
    .roadmap .container {
      padding: 0 20px;
    }
  }
  .roadmap .container .roadmap__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  @media all and (max-width: 568px) {
    .roadmap .container .roadmap__tittle {
      font-size: 50px;
      line-height: 110%;
      margin-bottom: 80px;
    }
  }
  .roadmap .container .roadmap__content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
  @media all and (max-width: 568px) {
    .roadmap .container .roadmap__content {
      overflow-x: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  .roadmap .container .roadmap__content__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
  }
  .roadmap .container .roadmap__content .steps__years {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0% 0%, 100% 0, 100% 84%, 57% 85%, 50% 100%, 43% 85%, 0 84%);
    background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);
    height: 70px;
    width: 132px;
    border-radius: 5px;
  }
  .roadmap .container .roadmap__content .steps__road {
    margin-top: 24px;
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .roadmap .container .roadmap__content .steps__road__line {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, rgba(142, 45, 226, 0.3) 0%, rgba(74, 0, 224, 0.3) 100%), linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 49.17%, rgba(255, 255, 255, 0) 100%);
  }
  .roadmap .container .roadmap__content .steps__road__line-point {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: linear-gradient(90deg, #8E2DE2 0%, #4A00E0 100%);
    -webkit-box-shadow: 0px 0px 139px 0px #4a00e0;
    -moz-box-shadow: 0px 0px 139px 0px #4a00e0;
    box-shadow: 0px 0px 139px 0px #4a00e0;
  }
  .roadmap .container .roadmap__content .steps__road__line-point-inner {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
  }
  .roadmap .container .roadmap__content .steps__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .roadmap .container .roadmap__content .steps__list ul li {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
  
  .border-line {
    border-radius: 30px 0 0 30px;
  }
  
  .border-line-r {
    border-radius: 0 30px 30px 0;
  }
  
  .header {
    background-image: url('assets/ornament-h-nbls.svg');
    background-repeat: no-repeat;
    background-position: top;
  }
  .header .container {
    padding: 160px 0;
  }
  @media all and (max-width: 568px) {
    .header .container {
      padding: 100px 40px !important;
    }
  }
  .header .container .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .container .display__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    color: #FFFFFF;
  }
  @media all and (max-width: 568px) {
    .header .container .display__tittle {
      text-align: center;
      font-size: 50px;
      line-height: 60px;
    }
  }
  .header .container .display__paragraf {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
  .header .container .display__btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  @media all and (max-width: 568px) {
    .header .container .display__btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .header .container .display .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  .header .container .display .input .input__wrap {
    width: 100%;
    max-width: 688px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .header .container .display .input .input__wrap__fill {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 14px 50px 14px 20px;
    color: #fff;
    width: 100%;
    max-width: 688px;
    font-family: "SF Pro Display Light";
  }
  .header .container .display .input .input__wrap img {
    position: absolute;
    right: 20px;
  }
  .header .container .display .input .input__sort {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 14px 15px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .header .container .display .input .input__sort span {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 8px;
  }
  
  .newest {
    padding-top: 100px;
  }
  .newest .container {
    padding: 80px 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .newest .container {
      padding: 0 20px;
    }
  }
  .newest .container .newest__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  @media all and (max-width: 568px) {
    .newest .container .newest__tittle {
      font-size: 50px;
    }
  }
  .newest .container .newest__container {
    width: 100%;
    margin-top: 200px;
  }
  @media all and (max-width: 568px) {
    .newest .container .newest__container {
      margin-top: -80px;
      padding-bottom: 20px;
      width: 365px;
      overflow-x: auto;
      height: 450px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  .newest .container .newest__container__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .newest .container .newest__container .card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    width: 410px;
    height: 256px;
  }
  @media all and (max-width: 568px) {
    .newest .container .newest__container .card-items {
      margin: 0 10px;
      width: 310px;
    }
  }
  .newest .container .newest__container .card-items-image {
    width: 323px;
    height: 280px;
    margin-top: -50%;
  }
  @media all and (max-width: 568px) {
    .newest .container .newest__container .card-items-image {
      width: 200px;
      height: 180px;
      margin-top: -100px;
    }
  }
  .newest .container .newest__container .card-items_media {
    width: 100%;
  }
  .newest .container .newest__container .card-items_media-tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 18px 0 16px 0;
  }
  .newest .container .newest__container .card-items_media-content {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    margin: 18px 0 16px 0;
  }
  @media all and (max-width: 568px) {
    .newest .container .newest__container .card-items_media-content {
      font-size: 12px;
    }
  }
  
  .recomendation {
    padding-top: 100px;
  }
  @media all and (max-width: 568px) {
    .recomendation {
      padding-top: 10px;
    }
  }
  .recomendation .container {
    padding: 80px 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .recomendation .container {
      padding: 0 20px;
    }
  }
  .recomendation .container .recomendation__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__tittle {
      font-size: 50px;
      text-align: center;
    }
  }
  .recomendation .container .recomendation__container {
    width: 100%;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .recomendation .container .recomendation__container__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  .recomendation .container .recomendation__container .card__wrapp {
    width: 100%;
  }
  .recomendation .container .recomendation__container .card__wrapp-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container .card__wrapp-items {
      margin: 0 10px;
    }
  }
  .recomendation .container .recomendation__container .card__wrapp-items-image {
    max-width: 650px;
    width: 100%;
    height: 294px;
    margin-bottom: -140px;
    position: relative;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container .card__wrapp-items-image {
      width: 90%;
    }
  }
  .recomendation .container .recomendation__container .card__wrapp-items_media {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    padding-top: 169px;
    padding-bottom: 50px;
    width: 734px;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container .card__wrapp-items_media {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .recomendation .container .recomendation__container .card__wrapp-items_media-tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 18px 0 16px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .recomendation .container .recomendation__container .card__wrapp-items_media-content {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    margin: 18px 0 16px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .recomendation .container .recomendation__container .card__wrapp__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 16px;
  }
  .recomendation .container .recomendation__container .card__wrapp__container::after {
    content: "";
    height: 1px;
    width: 100%;
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 30%, white 70%, rgba(255, 255, 255, 0) 100%);
  }
  .recomendation .container .recomendation__container .card__wrapp__container-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 16px 0;
  }
  .recomendation .container .recomendation__container .card__wrapp__container-list__tittle {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 24px;
  }
  .recomendation .container .recomendation__container .card__wrapp__container-list__tittle__date {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .recomendation .container .recomendation__container .card__wrapp__container-list__tittle__content {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  @media all and (max-width: 568px) {
    .recomendation .container .recomendation__container .card__wrapp__container-list__tittle__content {
      font-size: 16px;
    }
  }
  
  .trending {
    padding-top: 100px;
  }
  .trending .container {
    padding: 80px 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .trending .container {
      padding: 0 10px;
    }
  }
  .trending .container .trending__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  .trending .container .trending__container {
    width: 100%;
  }
  @media all and (max-width: 568px) {
    .trending .container .trending__container {
      overflow-x: auto;
      display: flex;
      align-items: center;
    }
  }
  .trending .container .trending__container__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .trending .container .trending__container .card__wrapp {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }
  .trending .container .trending__container .card__wrapp.no-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media all and (max-width: 568px) {
    .trending .container .trending__container .card__wrapp {
      display: flex;
      flex-direction: column;
    }
  }
  .trending .container .trending__container .card__wrapp__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 16px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 28px;
  }
  @media all and (max-width: 568px) {
    .trending .container .trending__container .card__wrapp__container {
      margin-left: 0px;
    }
  }
  .trending .container .trending__container .card__wrapp__container-list {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 0 0 16px 0;
  }
  @media all and (max-width: 568px) {
    .trending .container .trending__container .card__wrapp__container-list-image {
      width: 30%;
      max-width: 734px;
      height: 294px;
      object-fit: cover;
    }
  }
  .trending .container .trending__container .card__wrapp__container-list__tittle {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 24px;
  }
  .trending .container .trending__container .card__wrapp__container-list__tittle__date {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.5);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .trending .container .trending__container .card__wrapp__container-list__tittle__content {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  .trending .container .trending__container .card__wrapp__container-list__tittle__readmore {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 16px;
  }
  
  .header {
    background-image: url(assets/ornament-h-nbls.svg);
    background-repeat: no-repeat;
    background-position: top;
  }
  .header .container {
    padding: 150px 0 100px 0;
  }
  @media all and (max-width: 568px) {
    .header .container {
      padding: 100px;
    }
  }
  .header .container .display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .container .display__tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 92px;
    text-align: center;
    color: #FFFFFF;
  }
  @media all and (max-width: 568px) {
    .header .container .display__tittle {
      font-size: 50px;
      line-height: 60px;
    }
  }
  .header .container .display__paragraf {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }
  .header .container .display__btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  @media all and (max-width: 568px) {
    .header .container .display__btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media all and (max-width: 568px) {
    .content .container {
      padding: 0 10px;
    }
  }
  .content .container .content__head__img {
    width: 100%;
  }
  .content .container .content__head .news {
    display: flex;
    flex-direction: row;
    align-items: start;
    padding: 60px 100px;
  }
  @media all and (max-width: 568px) {
    .content .container .content__head .news {
      padding: 60px 10px;
    }
  }
  .content .container .content__head .news__socialmedia {
    padding: 20px 20px;
  }
  .content .container .content__head .news__socialmedia img {
    margin-bottom: 20px;
    cursor: pointer;
  }
  .content .container .content__head .news__paragraf {
    margin-left: 30px;
  }
  @media all and (max-width: 568px) {
    .content .container .content__head .news__paragraf {
      margin-left: 0px;
    }
  }
  .content .container .content__head .news__paragraf__tittle {
    color: #fff;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
  @media all and (max-width: 568px) {
    .content .container .content__head .news__paragraf__tittle {
      font-size: 16px;
    }
  }
  .content .container .content__head .news__paragraf__subcontent {
    color: rgba(255, 255, 255, 0.7);
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }
  @media all and (max-width: 568px) {
    .content .container .content__head .news__paragraf__subcontent {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .content .container .content__head .news__paragraf span {
    color: #fff;
    margin-right: 10px;
  }
  
  .interest {
    padding-top: 100px;
  }
  .interest .container {
    padding: 80px 80px;
    position: relative;
  }
  @media all and (max-width: 568px) {
    .interest .container {
      padding: 0 20px;
    }
  }
  .interest .container .interest__tittle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 32px;
  }
  @media all and (max-width: 568px) {
    .interest .container .interest__tittle {
      font-size: 50px;
    }
  }
  .interest .container .interest__container {
    width: 100%;
    margin-top: 200px;
  }
  @media all and (max-width: 568px) {
    .interest .container .interest__container {
      margin-top: -80px;
      padding-bottom: 20px;
      width: 365px;
      overflow-x: auto;
      height: 450px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  }
  .interest .container .interest__container__card {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
  }
  .interest .container .interest__container .card-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)), linear-gradient(180deg, rgba(2, 2, 2, 0.1) 0%, rgba(74, 0, 224, 0.1) 100%);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    border-radius: 24px;
    padding: 32px;
    width: 410px;
    height: 256px;
  }
  @media all and (max-width: 568px) {
    .interest .container .interest__container .card-items {
      margin: 0 10px;
      width: 310px;
    }
  }
  .interest .container .interest__container .card-items-image {
    width: 323px;
    height: 280px;
    margin-top: -50%;
  }
  @media all and (max-width: 568px) {
    .interest .container .interest__container .card-items-image {
      width: 200px;
      height: 180px;
      margin-top: -100px;
    }
  }
  .interest .container .interest__container .card-items_media {
    width: 100%;
  }
  .interest .container .interest__container .card-items_media-tittle {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 18px 0 16px 0;
  }
  .interest .container .interest__container .card-items_media-content {
    font-family: "SF Pro Display Light";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.8);
    margin: 18px 0 16px 0;
  }
  @media all and (max-width: 568px) {
    .interest .container .interest__container .card-items_media-content {
      font-size: 12px;
    }
  }